body{
    background: url('/img/fon-top.jpg') no-repeat top;
}
.row-center {
    -ms-flex-align: center;
    align-items: center;
}
header,footer{ 
    background: url('/img/volna.png') no-repeat top center;
    .volna{        
        height: 133px; 
    }
     .tel{
        margin: 4px 0 0 0;
        padding: 0 0 0 39px;
        display: inline-block;
        vertical-align: top;
        background-image: url(/img/ico1.png);
        background-position: left;
        background-repeat: no-repeat;              
        line-height: 32px;
        height: 32px;         
     } 
    a{            
        font-weight: 500;
        font-size: 18px;
        color: #EF6824;
        -webkit-transition: .4s ease-out;        
        -o-transition: .4s ease-out;        
        -moz-transition: .4s ease-out;        
        transition: .4s ease-out;        
    }
    :hover{
        color: #484848;  
        text-decoration: none;
    }
    img{
        max-width: 100%;
    }
}

.breadcrumb{
  font-size: 14px;
  margin-top: 1rem;
}

/*-----------------------------------------------------
css for reyka
*/
.fon-reyka{
  background: url(/img/top_reyka.jpg) center;
  padding-right: 0px;
  padding-left: 0px;
}
.fon_m{    background: url(/img/top_mazda.jpg) center;}
.bottom { background: url(/img/fon_bottom.jpg) center;}
.top_staty_reyka{	
  text-align: center; 
	position:relative;
  z-index: 5; 
  color: #000;  
}
.staty_reyka{position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: .4;
  width: 100%;
  height: 100%;
 }
/*.staty_reyka::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);  
	z-index: 1;
}*/
.top_staty_reyka h1{
	font-size: 36px;
    width: 70%;
    margin: 0 auto;
    padding-top: 5pc;
    padding-bottom: 5pc;
	z-index: 5;
	    color: white;
	    font-weight: 900;
}
.pad {    margin-top: 30px;    margin-bottom: 30px;}
.div1,.div2,.div3 {    padding-top: 30px;    padding-bottom: 30px;    text-align: justify;}

.div1 img{max-width: 600px;   box-shadow: 5px 5px 25px;}
.div2 {
  img{ margin-bottom: 15px;    margin-top: 25px; box-shadow: 5px 5px 25px;}
  h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 61px;
    text-transform: uppercase;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.div3 h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 61px;
    text-transform: uppercase;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div3 img{max-width: 600px;  box-shadow: 5px 5px 25px;}
.div4{
  text-align:center;
  h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 61px;
    text-transform: uppercase;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  img{width: 350px;      box-shadow: 5px 5px 25px;    margin-bottom: 20px;}
}
.div5{text-align:center;    padding-bottom: 50px;    padding-top: 20px;}
//.text {display:table;height:400px;}
//.text p{display:table-cell;    vertical-align: middle;}
.div5 {color: white;}
.div5 h2{    font-size: 36px !important;     font-weight: 900;   width: 70%;    margin: 0 auto;    padding-top: 1pc;    padding-bottom: 2pc;    z-index: 5;}
.remont-elektromehanicheskih-rulevyh-reek h1{display:none;}
.text_fon{      position: absolute;    top: 15%;    color: white;    font-size: 28px;    font-weight: 900;    width: 90%;    background: #eb5825;    margin-left: 5px;    opacity: 0.8;}
.text_fon1{  position: absolute;    top: 0%;    color: white;    font-size: 18px;    font-weight: 900;    width: 250px;    background: #eb5825;    margin-left: 0px;    opacity: 0.8;    text-align: center;}
.text_fon2 {    position: absolute;    top: 5%;    color: white;    font-size: 28px;    font-weight: 900;    width: 50px;    background: #eb5825;    margin-left: 0px;    opacity: 0.8;    text-align: center;    height: 50px;}
.text_radius{    border: 1px solid #040000;    padding: 20px;    font-weight: 900;    border-radius: 15px;    margin: 20px;}


/*--------------------------------------------------------------
  # Navigation
  --------------------------------------------------------------*/
  .menu{
    font-size: 13px;
    text-transform: uppercase;    
  }
  .dropdown-menu{
    .nav-item{
      .nav-link {
        color: #3B464C;
      }
    }
  }
  .dropdown-menu.show {
    display: contents;
}

  .navbar-nav .dropdown {
    ul{
      list-style: none;
      margin-left: -40px;
      li{
        border-right: 0px;
        background: #d6d6d6;
        border-radius: 1px;        
        margin: 5px;
        display: inline-block;
        width: 192px;
        a.nav-link{
          padding: 5px;
          font-size: 11px;          
        }
        a.nav-link:hover{
          color:#fff;
        }       
      }
      li:first-child {
        border-left: 0px solid #6b6b6b;
      }
      li:hover{
        background: #EB5825;
        a{color:#fff;}
      }
    }
  }

  .navbar-nav .dropdown-menu-mini{
    width: 205px;
    left: -22px;
  }
  .navbar-nav .electro{    
    left: -262px;
  }
  .mt-5 {
    margin-top: 2px;
  }
 

/*--------------------------------------------------------------
  # Block
  --------------------------------------------------------------*/
.block-zayavka{
  background: linear-gradient(90deg, #ef682463 50%, #00ffff00 50%);background-repeat: no-repeat; 
  font-size: 24px;  
  text-align: center;
  text-transform: uppercase;
  color: #485359;
  padding: 5%;
  span{
    color: #EF6824;
    font-weight: 900;
  }
  .text{
    line-height: 164.4%;
  }
  .zayavka{    
    background: #48535973;
    border: 5px solid #EE6524;
    box-sizing: border-box;  
    padding: 15px;  
    h2{
      font-weight: bold;
      font-size: 24px;
      line-height: 61px;
      text-transform: uppercase;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    input{
      width: 281px;
      height: 57px;
      background: #FFFFFF;
      border-radius: 10px;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #000000;
      padding-left: 15px;
      border-width: 0px;   
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;   
    }
    .form-check{
      input{
        width: 15px;
        height: 15px;
      }
    }
    .input{      
      padding: 10px;     
    }
    .text-min{
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      a{color: #fff;}
    }
    button{
      background: linear-gradient(180deg, #FA8F22 0%, #EB5825 100%);
      border-radius: 10px;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      width: 281px;
      height: 57px;
      border-width: 0px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;   
    }
  }
}

.zayavka-modal{
  background-color: #f1f1f1;
  h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 61px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  input{
    width: 281px;
    height: 57px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 15px;
    border-width: 0px;   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;   
  }
  .form-check{
    input{
      width: 15px;
      height: 15px;
    }
  }
  .input{      
    padding: 10px;     
  }
  .text-min{
    font-size: 14px;
    line-height: 16px;
  }
  button{
    background: linear-gradient(180deg, #FA8F22 0%, #EB5825 100%);
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 281px;
    height: 57px;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;   
  }
}


.uslugi{
  background: url('/img/fon-uslugi.jpg') no-repeat center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  .us{
    background: url('/img/krug.png') no-repeat center;
    height: 241px;  
  }
  h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 61px;
    text-transform: uppercase;
    color: #485359;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  p{
    padding-top: 10%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #485359;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.plus{
  background: #D6D6D6;
  text-align: center;
  h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 61px;
    text-transform: uppercase;
    color: #485359;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .miniimg{
    img{    width: 100%;}
  }
}

.modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}
.fon{
  background: linear-gradient(90deg, #ef682463 50%, #00ffff00 50%);
  margin-left: -15px;
}
.cena{
  background: url('/img/fon-stoinost.jpg') no-repeat center;
  text-align: center;
  h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 61px;
    text-transform: uppercase;
    color: #485359;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }   
  .model-form{
    .form-group{
      margin: auto;
      width: 50%; 
      padding: 10px; 
    }
  } 
  
}

.vopr{
  background: url('/img/fon-vopros.jpg') no-repeat center;
  text-align: center;
  h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 61px;
    text-transform: uppercase;
    color: #485359;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }   
  font-weight: normal;  
  line-height: 21px;
  color: #485359;
  .vopros{
    font-weight: 600;
    text-align: left;
  }
  .otvet{
    font-style: italic;
    text-align: left;
  }
}

.gallery{
  h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 61px;
    text-transform: uppercase;
    color: #485359;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
  }   
  font-weight: normal;  
  color: #485359;  
  line-height: 36px;
  strong{font-size: 18px;}
  img{
    max-width: 100%;
  }
  .pa{
    position: relative;
    .nad{
      background: rgba(250, 143, 34, 0.55);
      position: absolute;
      bottom: 0;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px #000000;
      padding-bottom: 10px;
      padding-top: 10px;
      width: 100%;
    }
  }
}

.text{
  h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 46px;
    text-transform: uppercase;
    color: #485359;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
  }   
  line-height: 36px;
}

.finish{
  font-size: 24px;
  text-align: center;
  color: #EF6824;
}

.map {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
}
.kontbl {
  opacity: 0.8;
  background-color: white;
  width: 400px;
  height: 425px;
  position: absolute;
  right: 15%;
  top: -25px;
  margin: 24px 0 0 -508px;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
  padding-top: 100px;
}

.content{  
  background: url(/img/fon-uslugi.jpg) no-repeat top #fff; 
  border-radius: 0.25rem;
  padding: 1.75rem 2rem;
  line-height: 36px;
  p{
    text-indent: 20px;
  }
  h1,.h1{
    border-bottom: 2px solid #EB5825;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    color: #485359;
    padding-bottom: 5px;
    width: 50%;
  }
  h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #485359;
  }
  strong{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #EB5825;
  }
  ul{
    list-style-image: url(/img/li.png);
  }
  ol {
    list-style-type: none;
    counter-reset: item;
    list-style-position: outside;
  }
  ol li {
    margin-left: 2.0em;
    margin-top: 0.0em;
    margin-bottom: 0em;
    line-height: 1.8em;
  }
  ol li:before {
    content: counter(item) ") ";
    content: counter(item);
    counter-increment: item;
    background: #EB5825;
    color: #fff;
    box-shadow: 0em 0.3em 0.9em 0em rgba(0, 0, 0, 0.25);
    border-radius: 2.5em;
    padding: 0.5em 0.51em 0.5em 0.49em;
    font-size: 1.0em;
    text-align: center;
    line-height: 1.2em;
    width: 2em;
    height: 2em;
    display: inline-block;
    margin-left: -3.4em;
    margin-right: 1.0em;
    margin-top: 1.2em;
}
  .about{
    h2,h3{
      padding: 15px;
    }
    .lin {
      text-align: center;
      ul li{
      display: inline-block;
      }
    padding: 15px;
    line-height: 36px;
    }

  }
  .t-cena{
    td{
      padding: 10px;
    }
    .t-r{
      background: rgba(242, 142, 102, 0.46);
      width: 250px;
    }
    .t-r-r{
      background: rgba(0, 0, 0, 0.25);
    }

  }
  img{
    max-width: 100%;
  }
  .model{   
    a:hover{
      text-decoration: none;
    }
    .children{
      background: #C4C4C4;      
      text-transform: uppercase;
      margin: 5px;
      display: flex;  
      font-size: 12px; 
      width: 270px;         
    }
    .children:hover{
      background: rgba(235, 88, 37, 0.5);
      text-decoration: none;
    }

    .ch{
      background: #f28e66;
      margin: 0px;     
      img{
        height: 30px;
      }
    }
    .tx{
      float: left;
      padding-left: 5px;
      color: black;
      padding-top: 0px;
      padding-right: 5px;  
    }
   
  }
  .dop-text{
    .w{
      width: 80%;
      margin: 0 auto;
      color: #485359;
    }
    .h{
      font-size: 20px;
      color: #485359;
    }
  }
  .fn{
    background: rgba(242, 142, 102, 0.46);  
  }
  .table{
    text-transform: uppercase;
    border: 5px solid #eee;
    margin-top: 26px;
    .t{
      padding: 10px;
    }
    .th{
      background: rgba(0, 0, 0, 0.19);
    }
    .or{
      background: rgba(242, 142, 102, 0.17);
    }
    strong{
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #EB5825;
    }
  }
  .lh{
    line-height: 26px;
  }
  .pl{
    padding-left: 5%;
  }

  .electro{
    .children{
      width: 175px;
    }
  }
 
  .img-staty{
    float:right;
    padding-left:10px;
  }
}
.h1 {
  border-bottom: 2px solid #EB5825;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  color: #485359;
  padding-bottom: 5px;
  width: 50%;
}

.sidebar{
  float: left;
  width: 25%;
  h2{    
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #485359;    
  }
  h3{    
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #485359;
    padding-bottom: 5px;
  }
}
.backdoor-content{
  float: left;
  width: 73%;
  margin-left: 1%;
  margin-top: 1rem;
  label{
    font-size: 24px;
    padding-top: 1%;
  }
  .input input,.input textarea,.input select {
    display: block;
    width: 80%;
    background: antiquewhite;
    border: 1px solid #8e8a8a;
    padding-left: 5px;
  }
  .chekbox label{
    display: inline-block;
  }
  .chekbox input{
    display: inline-block;
  }
}

footer{  
  margin-top: 0px;
  width: 100%;
  background-image: url(/img/bgfoot.jpg);
  background-color: #c8c8c8;
  background-position: top;
  background-repeat: repeat-x;
  .minitext{
    font-size: 14px;
  }
  a{
    font-weight: 500;
    font-size: 18px;
  }
  .ln{
    line-height: 1px;
  }
} 

.e404{
  font-size: 48px;
}
.fon_m {
  background: url(/img/top_mazda.jpg) center;
  padding-right: 0px;
  padding-left: 0px;
}
.glyphicon-arrow-right:before {
  content: "\e093";
}

#route-map{
  height:425px
}
.route_list li span{
  color: #558ebe;
  cursor: pointer;
}
.route_list li span:hover{
  text-decoration:none;
} 

#upbutton {
  background: url("/img/up.png") no-repeat top left;
  height: 90px;
  width: 70px;
  bottom: 30px;
  right: 35px;
  cursor: pointer;
  display: none;
  position: fixed; 
  z-index: 999;
}
#YMapsID {
  width: 100%;
  height: 400px;
}

@media (max-width: 1200px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 5px 15px 5px;
  }
  .dropdown-menu {     
    width: 888px;
    left: -48px;
  }
}

@media (max-width: 992px) {
    .navbar{
      padding: 5px;
    }
    .navbar-nav li {
      width: 100%;
      text-align: left;
     }
 }
 
 @media (min-width: 992px) {
  .navbar .dropdown:hover > .dropdown-menu{
    display: block;
  }
 }

 @media (max-width: 768px) { 
  header .volna {
      height: 90px;
  }
  .navbar-brand {  
    padding-left: 10%; 
  }  
  .gallery .hr{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .cena .model-form .form-group {
    width: 100%;    
  }
  .uslugi .us {    
    height: 300px;
  }
  .kontbl {   
    width: 220px;
    height: 350px;
    position: absolute;
    right: 15%;
    top: 75px;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
    padding-top: 30px;
    h3 {
      font-size: 1.2rem;
    }
    h4{
      font-size: 1rem;
    }
}
.content h1, .content .h1, .h1 {  
  width: 100%;
}
.content{
  padding: 1.75rem 1rem;
  line-height: 32px;
  ul {  
    margin-left: -25px;
  }
  ol{
    margin-left: -30px;
  }
  h2{
    text-align: left;
  }
}
.content p {
  text-indent: 0px; 
}

.dropdown-menu{
  //display: block;
  width: 100%;
}

.navbar-nav .dropdown ul li {
  border-right: 0px;
  background: #d6d6d6;
  border-radius: 1px;
  margin: 0px;
  display: inline-block;
  width: 100%;
}
.text h3 { 
  font-size: 20px;
  line-height: 36px;  
}
.content .dop-text .w {
  width: 100%; 
}
.content .table { 
  font-size: 14px;  
  border: 0px solid #eee;  
  padding: 0;
  .q{
    font-size: 10px;
    strong{
      font-size: 18px;
    }
  }
}




.top_staty_reyka h1 {
  font-size: 26px;
  width: 100%;  
  padding-top: 1pc;
  padding-bottom: 1pc;  
}
.div1 img,.div2 img,.div3 img,.div4 img {
  max-width: 100%;
  box-shadow: 0px 0px;
}
.text {
  line-height: 32px;
}
.div2 h2,.div3 h2 {  
  font-size: 24px;
  line-height: 32px;  
}
.div5 h2 {
  font-size: 32px !important;  
  width: 100%;  
}
.bottom { 
  margin-bottom: 25px;
}
.stati{
  padding: 10px;
  figure{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
}

}


@media (max-width: 576px) { 
  .block-zayavka{
    font-size: 18px; 
    img{
      width: 40px;
    }
    .zayavka {      
      padding: 5px;
      margin-left: -30px;
      margin-right: -30px;
    }
    .block-zayavka .zayavka h2 {      
      line-height: 42px;      
    }
  }
  .uslugi h2 {
    line-height: 45px;
  }
  
  .plus h2, .cena h2, .vopr h2, .gallery h2 {    
    line-height: 46px;    
  }
 
  .vopr .vopros {
    padding-left: 20px;
  }
  .zayavka-modal input {
    width: 255px;   
  }

}